.product-glass-container {
    max-width: 1500px;
    margin: 100px auto 60px auto;
    padding: 25px 15px 15px 15px;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(81, 81, 81, 0.45);
    border-radius: 30px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.15);
}

.product-breadcrumbs {
    margin-bottom: 25px;
    margin-left: 10px;
    font-size: 13px;
    color: var(--color-gray-dark);
    font-weight: 600;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.breadcrumb-link {
    cursor: pointer;
    color: var(--color-text);
    text-decoration: none;
    transition: color 0.3s ease;
}

.breadcrumb-link:hover {
    color: var(--color-accent);
}

.breadcrumb-separator {
    margin: 0 12px;
    color: var(--color-gray-dark);
}

.breadcrumb-current {
    color: var(--color-accent);
}

.product-detail-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
}

.product-detail-image-container {
    border-radius: 20px;
    height: 70vh;
    overflow: hidden;
    background-color: #f9f9f9; /* Світлий фон, якщо PNG прозорий */
    box-shadow: inset 0 0 20px rgba(0,0,0,0.03);
    border: 1px solid var(--color-gray);
}

.product-detail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-detail-info {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.product-detail-eyebrow {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--color-gray-dark);
    margin-bottom: 15px;
}

.product-detail-title {
    font-size: 38pt;
    margin-bottom: 15px;
    line-height: 1.3;
    color: var(--color-text);
}

.product-detail-price {
    font-size: 26pt;
    color: var(--color-accent);
    font-weight: 600;
    margin-bottom: 30px;
}

.product-attributes {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 30px;
    padding: 25px 0;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.attr-item {
    font-size: 15px;
    color: var( --color-gray-dark);
}

.attr-label {
    font-weight: 700;
    color: var(--color-gray-dark);
    display: inline-block;
    width: 120px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

.product-detail-description {
    font-size: 15px;
    color: var(--color-gray-dark);
    line-height: 1.8;
    margin-bottom: 40px;
    flex-grow: 1;
}

.product-detail-info .btn-large {
    border-radius: 20px;
    flex-grow: 1;
}